name: Build CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Build the container images
        run: |
          TAGS="$(ls build)"
          for tag in $TAGS; do 
            echo -n "Building '${tag}'... "
            bash build.sh "${tag}"
            echo "Done!"
          done
