name: Publish CI

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 0 * * 0'

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag:
          - latest
          - go1.24
          - go1.25
    env:
      IMG_NAME: docker.io/michaelvaldron/hugo
      QUAY_IMG_NAME: quay.io/michaelvaldron/hugo
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Build the container image
        run: bash build.sh "${{ matrix.tag }}"
      - name: dockerhub login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Publish the container image to dockerhub
        run: docker push ${IMG_NAME}:${{ matrix.tag }}
      - name: quay.io login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ matrix.tag == 'latest' }}
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Publish the container image to quay.io
        if: ${{ matrix.tag == 'latest' }}
        run: docker tag ${IMG_NAME} ${QUAY_IMG_NAME} && docker push ${QUAY_IMG_NAME}:${{ matrix.tag }}
